.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-image: url("../imagens/wall.png");
  width: 100%;
}
.menu {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-bottom: solid #ffd700;
  height: 90px;
  width: 100%;
  background-color: #000000;
  color: #ffffff;
}
.panel {
  margin-top: 1rem;
  align-items: center;
  justify-content: center;
  display: flex;
}
.square {
  height: 150px;
  width: 150px;
  border: solid 1px #000000;
  background-color: #3acece;
}
.enemy {
  background-image: url("../imagens/ralph.png");
  background-size: cover;
}

.menu-lives {
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-time h2:nth-child(2),
.menu-score h2:nth-child(2) {
  margin-top: 1rem;
}